/* 自定義棕色邊框 */
.border-brown {
    border-color: #8B4513;
    /* 棕色 */
}

/* 自定義棕色文字 */
.text-brown {
    color: #8B4513;
    /* 棕色 */
}

/* 自定義背景顏色 */
.bg-white {
    background-color: white;
}

/* 當按鈕 hover 時，背景顏色變為棕色 */
.hover-bg-brown:hover {
    background-color: #8B4513;
    /* 棕色背景 */
    border-color: #8B4513;
}

.dropdown-item:hover {
    color: #8B4513;
    /* 棕色文字 */
}

.login-button {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 5%;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}